* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

. header {
    height: 83px;
    left: 0;
    right: 0;
    top: 0;
}

.nav_menu1, .nav_menu2, .top_bar, .main, .down, .darts1, .akord-text3, .znaky, .main3, .main321, #container, #container2, #container1R, #container2R, #container3R, #containerBut, #containerVelo {
    display: flex;
}

.nav_menu1, .nav_menu2, .top_bar, #container1R, #container2R, #container3R {
    align-items: center;
}

.header_logo {
    width: 21%;
    margin-top: 16px;
}

.nav_menu1 {
    width: 39.5%;
    justify-content: space-between;
}

.nav_menu2 {
    width: 39.5%;
    column-gap: 24px;
    justify-content: flex-end;
    margin-right: 32px;
}

.img1 {
    width: 94.61px;
    height: 36.07px;
    margin-left: 36px;
}

.img2 {
    width: 600px;
    height: 886px;
    right: 0;
}

.img3 {
    position: absolute;
    width: 608px;
    height: 541px;
    margin-top: 172px;
    margin-right: 102px;
}

.img19 {
    width: 678px;
}

.img20 {
    height: 528px;
    width: 911px;
    margin: auto;
    margin-top: 57px;
    margin-bottom: 127px;
}

.img21 {
    height: 409px;
    width: 562px;
    margin-top: 64px;
    margin-left: -116px;
}

.img22, .img23, .img24 {
    width: 100%;
}

.img22 {
    height: 348px;
}

.img23 {
    height: 329px;
    margin-top: 121px;
    margin-bottom: 97px;
}

.img24 {
    height: 397px;
}

.img25, .img26, .img27 {
    height: 40px;
    width: 40px;
}
.img27, .img25, .img26 {
    margin-bottom: 23px;
}

.img26, .img27 {
margin-top: 140px;
}

.img28 {
    height: 320px;
    width: 384px;
    margin-top: 0.22px;
    margin-left: 122px;
    margin-right: 224px;
}

.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
    font-size: 16px;
    box-sizing: border-box;
    height: 54px;
    border-radius: 4px;
}

.btn1 {
    width: 163px;
    background: #0B2330;
    border: 1px solid #0B2330;
    color: white;
}

.btn2, .btn4 {
    width: 163px;
    background: #F9C600;
    border: 1px solid #F9C600;
}

.btn3 {
    width: 156px;
    border: 1px solid #0B2330;
    background: none;
}

.btn4 {
    margin-left: 638px;
}

.btn5 {
    width: 154px;
    border: 1px solid #0B2330;
    background: none;
}

.btn6 {
    width: 208px;
    background: #F9C600;
    border: 1px solid #F9C600;
}

.btn7 {
    width: 140px;
    border: 1px solid #0B2330;
    text-align: center;
    padding-top: 16px;
    margin-top: 36px;
}

#container {
    height: 886px;
    width: 100%;
}

#container1 {
    width: 50%;
    margin-top: 154px;
    margin-left: 147px;
}

#container2 {
    width: 50%;
    margin-right: 0;
    justify-content: flex-end;
}

#containerBut {
    column-gap: 16px;
    margin-top: 38px;
}

#container1R, #container2R, #container3R {
    margin-left: 174px;
    margin-right: 174px;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 0;
}

#containerVelo {
    background: #52cebd;
    margin: 176px 32px 191px 32px;
    height: 494px;
  }

#container3 {
    height: 537px;
    background: #BD78F0;
    margin: 160px 32px 136px 148px;
    display: flex;
}

#container32 {
    width: 678px;
}

#container31 {
    width: 582px;
}

#container4 {
   margin-left: 148px;
}

.main {
    height: 1298px;
    margin: 219px 32px 152px 148px;
    justify-content: space-between ;
}

.main1 {

}

.main2 {
    width: 513px;
}

.down {
    margin-top: 21px;
}

.darts {
    height: 960px;
    background: #F2EDE7;
}

.darts1 {
    position: absolute;
    margin-top: 377px;
}

.darts2 {
    width: 588px;
}

.line {
    width: 588px;
    height: 2px;
    background: #C9316F;
}

.znaky {
    height: 418px;
    margin-top: 160px;
    margin-bottom: 240px;
}

.integration {
    width: 69%;
    margin-top: 16px;
    margin-left: 148px;
}

.tx2, .tx4, .tx5, .tx6, .txt7, .txt8, .txt9, .txt11, .txt13, .txt17, .txt19, .txt21, .txt23, .txt24, .txt26 {
    color: #0B2330;
}

.tx3, .txt12, .txt14, .txt18, .txt20, .txt22 {
    color: #375361;
}

.txt15, .txt16 {
    color: #61757E;
}

.tx1 {
    margin-left: 32px;
    font-size: 12px;
    width: 104px;
    height: 16px;
}

.tx2 {
    font-size: 60px;
    line-height: 64px;
    height: 256px;
    width: 436px;
    margin-bottom: 32px;
}

.tx3 {
    font-size: 22px;
    line-height: 32px;
    height: 96px;
    width: 435px;
}

.tx4 {
    height: 96px;
    width: 547px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin: auto;
    margin-top: 189px;
    margin-bottom: 59px;
}

.tx5 {
    height: 120px;
    width: 557px;
    font-size: 34px;
    line-height: 40px;
    margin: 114px 121px 35px 20px;
}

.tx6 {
    height: 64px;
    width: 533px;
    font-size: 22px;
    line-height: 32px;
    margin: 0 145px 161px 20px;
}

.txt7 {
    height: 80px;
    width: 711px;
    text-align: center;
    margin: auto;
    font-size: 34px;
    line-height: 40px;
}

.txt8 {
    height: 192px;
    width: 485px;
    font-size: 42px;
    line-height: 48px;
    margin-top: 103px;
}

.txt9 {
    height: 56px;
    width: 550px;
    font-size: 17px;
    line-height: 28px;
    margin-top: 39px;
}

.txt10 {
    height: 24px;
    width: 94px;
    font-size: 14px;
    line-height: 24px;
    color: #6A7981;
}

.txt11 {
    height: 144px;
    width: 593px;
    font-size: 42px;
    line-height: 48px;
    margin-top: 13px;
    margin-bottom: 26px;
}

.txt12 {
    height: 32px;
    width: 500px;
    font-size: 22px;
    line-height: 32px;
}

.txt13, .txt21, .txt25 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
}

.txt13 {
    width: 402px;
    height: 40px;
}

.txt14 {
    height: 84px;
    width: 484px;
    font-size: 17px;
    line-height: 28px;
    margin-top: 29px;
    margin-bottom: 64px;
}

.txt15, .txt16, .txt17 {
    height: 23px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3px;
    border-radius: 4px;
}

.txt15 {
    width: 228px;
    background: #E7EAEB;
}

.txt16 {
    width: 147px;
    background: #E7EAEB;
    margin-left: 16px;
    margin-right: 16px;
}

.txt17 {
    width: 152px;
    background: #FE9F28;
}

.txt18, .txt19 {
    margin-left: 122px;
}

.txt18 {
    height: 24px;
    width: 84px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 96px;
}

.txt19 {
    height: 128px;
    width: 1064px;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    position: absolute;
    margin-top: 130px;
}

.txt20 {
    height: 24px;
    width: 122px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
}

.txt21 {
    height: 120px;
    width: 669px;
    margin-top: 15px;
    margin-bottom: 37px;
}

.txt22 {
    height: 84px;
    width: 667px;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 36px;
}

.txt23 {
    height: 64px;
    width: 314px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 17px;
    margin-bottom: 27px;
}

.txt24 {
    height: 84px;
    width: 325px;
    font-size: 17px;
    line-height: 28px;
}

.txt25 {
    height: 240px;
    width: 557px;
    color: black;
}

.txt26 {
    height: 24px;
    width: 117px;
    font-size: 16px;
    line-height: 24px;
}

.txt28 {
    height: 28px;
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}

.akord-item {
    border-bottom: #C3CACD solid 2px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.akord-title {
    font-size: 24px;
    line-height: 32px;
    width: 245px;
    height: 32px;
    color: #0B2330;
}

.akord-input:checked + .akord-text {
    display: block;
}

.akord-text {
    display: none;
    font-size: 16px;
    margin-top: 25px;
}

.akord-text1 {
    margin-bottom: 36px;
}

.akord-text3 {
    margin-top: 35px;
    margin-bottom: 23px;
    column-gap: 8px;
}

.main3 {
    height: 584px;
    margin: 0 32px 46px 32px;
    background: #F2EDE7;
    border-radius: 10px;
}

.main31 {
    width: 562px;
    padding-top: 80px;
    padding-left: 116px;
}

.main32 {
    width: 794px;
    background: #F9C600;
    padding: 79px 121px 104px 116px;
    margin-left: 20px;
    border-radius: 0 10px 10px 0;
}

.main321 {
    margin-top: 81px;
}

.daniel {
    margin-left: 24px;
}