* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

. header {
    height: 83px;
    left: 0;
    right: 0;
    top: 0;
}

.nav_menu1, .nav_menu2, .top_bar, #container1R, #container2R, #container3R {
    display: flex;
    align-items: center;
}

.header_logo {
    width: 21%;
    margin-top: 16px;
}

.nav_menu1 {
    width: 39.5%;
    justify-content: space-between;
}

.nav_menu2 {
    width: 39.5%;
    column-gap: 24px;
    justify-content: flex-end;
    margin-right: 32px;
}

.img1 {
    width: 94.61px;
    height: 36.07px;
    margin-left: 36px;
}

.img2 {
    width: 600px;
    height: 886px;
    right: 0;
}

.img3 {
    position: absolute;
    width: 608px;
    height: 541px;
    margin-top: 172px;
    margin-right: 102px;
}

.img19 {
    width: 678px;
}

.img20 {
    height: 528px;
    width: 911px;
    margin: auto;
    margin-top: 57px;
    margin-bottom: 127px;
}

.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.btn1, .btn2, .btn3, .btn4 {
    font-size: 16px;
    box-sizing: border-box;
    height: 54px;
    border-radius: 4px;
}

.btn1 {
    width: 163px;
    background: #0B2330;
    border: 1px solid #0B2330;
    color: white;
}

.btn2, .btn4 {
    width: 163px;
    background: #f9c602;
    border: 1px solid #F9C600;
}

.btn3 {
    width: 156px;
    border: 1px solid #0B2330;
}

.btn4 {
    margin-left: 638px;
}

#container {
    height: 886px;
    width: 100%;
    display: flex;
}

#container1 {
width: 50%;
    margin-top: 154px;
    margin-left: 147px;
}

#container2 {
    width: 50%;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

#containerBut {
    display: flex;
    column-gap: 16px;
    margin-top: 38px;
}

#container1R, #container2R, #container3R {
    margin-left: 174px;
    margin-right: 174px;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 0;
}

#containerVelo {
    display: flex;
    background: #52cebd;
    margin: 176px 32px 191px 32px;
    height: 494px;
  }

.tx1 {
    margin-left: 32px;
    font-size: 12px;
    width: 104px;
    height: 16px;
}

.tx2 {
    font-size: 60px;
    line-height: 64px;
    height: 256px;
    width: 436px;
    color: #0B2330;
    margin-bottom: 32px;
}

.tx3 {
    font-size: 22px;
    line-height: 32px;
    height: 96px;
    width: 435px;
    color: #375361;
}

.tx4 {
    height: 96px;
    width: 547px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin: auto;
    margin-top: 189px;
    margin-bottom: 59px;
}

.tx5 {
    height: 120px;
    width: 557px;
    font-size: 34px;
    line-height: 40px;
    margin: 114px 121px 35px 20px;
}

.tx6 {
    height: 64px;
    width: 533px;
    font-size: 22px;
    line-height: 32px;
    margin: 0 145px 161px 20px;
}

.txt7 {
    height: 80px;
    width: 711px;
    text-align: center;
    margin: auto;
    font-size: 34px;
    line-height: 40px;
}